# **Task1: Create database using SQLITE**

In [ ]:
#Installing required dependencies
%pip install sqlite3
%pip install pandas

In [ ]:
# Import sqlite3
import sqlite3
import pandas as pd

In [ ]:
# create the database by starting the connection with sqlite
try:
    conn=sqlite3.connect("Users.db")
    print("Database is successfully created...")
except Error:
    print("Error in creating the database")

In [ ]:
# Create a cursor object
cursor_obj = conn.cursor()

# **Task2: Create a table in the database**

In [ ]:
# Drop the table if already exists
cursor_obj.execute('DROP TABLE IF EXISTS Users')

In [ ]:
# Create a table in the database
statement = ''' CREATE TABLE IF NOT EXISTS Users(ID INTEGER PRIMARY KEY, FNAME VARCHAR(20), LNAME VARCHAR(20), CITY VARCHAR(20), CCODE CHAR(2))'''
cursor_obj.execute(statement)
print("Table is Ready")

# **Task3: Insert data into the table**

In [ ]:
# Inserting values into the table
cursor_obj.execute(''' INSERT INTO Users VALUES (1, "Rav", "Ahuja", "TORONTO", "CA"),
                   (2, "Raul", "Chong", "Markham", "CA"), (3, "Hima", "Vasuderan", "Chicago", "US")''')

# **Task4: Query data in the table**

In [ ]:
# read all the records from table using fetchall() method and store the result in output variable
statement = 'SELECT * FROM Users'
cursor_obj.execute(statement)

print("All the data")
output = cursor_obj.fetchall()
for rows in output:
    print(rows)

In [ ]:
# fetch only 2 rows from the table using fetchmany() method and store the result in few_rows variable
statement = 'SELECT * FROM Users'
cursor_obj.execute(statement)

print("All the data")
few_rows = cursor_obj.fetchmany(2)
for row in few_rows:
    print(row)

In [ ]:
#  Fetch only the FNAME from the table
statement = 'SELECT FNAME FROM Users'
cursor_obj.execute(statement)

print("All the data")
output1 = cursor_obj.fetchall()
for row in  output1:
    print(row)

In [ ]:
# Update RAV's CITY
query_update = '''UPDATE Users SET CITY = "MOOSETOWN" WHERE FNAME = "Rav"'''
cursor_obj.execute(query_update)

statement = 'SELECT * FROM Users'
cursor_obj.execute(statement)

print("All the data")
output2 = cursor_obj.fetchmany(2)
for row1 in output2:
    print(row1)

In [ ]:
# Delete the record with ID = 3
query_delete = '''DELETE FROM Users WHERE ID = 3'''
cursor_obj.execute(query_delete)

statement = 'SELECT * FROM Users'
cursor_obj.execute(statement)

print("All the data")
output3 = cursor_obj.fetchall()
for row2 in output3:
    print(row2)

# **Task5: Retrieve data into Pandas**

In [ ]:
# Read the data from the table using pandas and store the result in df variable
df = pd.read_sql_query('SELECT * FROM Users', conn)
print(df)

In [ ]:
# Print the shape of the dataframe
df.shape

# **Task6: Close the connection**

In [ ]:
# Save the DB changes
conn.commit()

# Close the connection
conn.close()