# **Task1: Create database using SQLITE**

In [1]:
#Installing required dependencies
%pip install sqlite3
%pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Note: you may need to restart the kernel to use updated packages.

ERROR: Could not find a version that satisfies the requirement sqlite3 (from versions: none)
ERROR: No matching distribution found for sqlite3

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\users\gennifer motsumi\appdata\roaming\python\python311\site-packages (2.1.4)
Requirement already satisfied: numpy<2,>=1.23.2 in c:\users\gennifer motsumi\appdata\roaming\python\python311\site-packages (from pandas) (1.26.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\gennifer motsumi\appdata\roaming\python\python311\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\gennifer motsumi\appdata\roaming\python\python311\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\gennifer motsumi\appdata\roaming\python\python311\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\gennifer motsumi\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
# Import sqlite3
import sqlite3
import pandas as pd

In [3]:
# create the database by starting the connection with sqlite
try:
    conn=sqlite3.connect("User.db")
    print("Database is successfully created...")
except Error:
    print("Error in creating the database")

Database is successfully created...

In [4]:
# Create a cursor object
cursor_obj = conn.cursor()

# **Task2: Create a table in the database**

In [5]:
# Drop the table if already exists
cursor_obj.execute('DROP TABLE IF EXISTS Users')

In [6]:
# Create a table in the database
statement = ''' CREATE TABLE IF NOT EXISTS Users(ID INTEGER PRIMARY KEY, FNAME VARCHAR(20), LNAME VARCHAR(20), CITY VARCHAR(20), CCODE CHAR(2))'''
cursor_obj.execute(statement)
print("Table is Ready")

Table is Ready

# **Task3: Insert data into the table**

In [7]:
# Inserting values into the table
cursor_obj.execute(''' INSERT INTO Users VALUES (1, "Rav", "Ahuja", "TORONTO", "CA"),
                   (2, "Raul", "Chong", "Markham", "CA"), (3, "Hima", "Vasuderan", "Chicago", "US")''')

# **Task4: Query data in the table**

In [8]:
# read all the records from table using fetchall() method and store the result in output variable
statement = 'SELECT * FROM Users'
cursor_obj.execute(statement)

print("All the data")
output = cursor_obj.fetchall()
for rows in output:
    print(rows)

All the data
(1, 'Rav', 'Ahuja', 'TORONTO', 'CA')
(2, 'Raul', 'Chong', 'Markham', 'CA')
(3, 'Hima', 'Vasuderan', 'Chicago', 'US')

In [9]:
# fetch only 2 rows from the table using fetchmany() method and store the result in few_rows variable
statement = 'SELECT * FROM Users'
cursor_obj.execute(statement)

print("All the data")
few_rows = cursor_obj.fetchmany(2)
for row in few_rows:
    print(row)

All the data
(1, 'Rav', 'Ahuja', 'TORONTO', 'CA')
(2, 'Raul', 'Chong', 'Markham', 'CA')

In [10]:
#  Fetch only the FNAME from the table
statement = 'SELECT FNAME FROM Users'
cursor_obj.execute(statement)

print("All the data")
output1 = cursor_obj.fetchall()
for row in  output1:
    print(row)

All the data
('Rav',)
('Raul',)
('Hima',)

In [11]:
# Update RAV's CITY
query_update = '''UPDATE Users SET CITY = "MOOSETOWN" WHERE FNAME = "Rav"'''
cursor_obj.execute(query_update)

statement = 'SELECT * FROM Users'
cursor_obj.execute(statement)

print("All the data")
output2 = cursor_obj.fetchmany(2)
for row1 in output2:
    print(row1)

All the data
(1, 'Rav', 'Ahuja', 'MOOSETOWN', 'CA')
(2, 'Raul', 'Chong', 'Markham', 'CA')

# **Task5: Retrieve data into Pandas**

In [12]:
# Read the data from the table using pandas and store the result in df variable
df = pd.read_sql_query('SELECT * FROM Users', conn)
print(df)

   ID FNAME      LNAME       CITY CCODE
0   1   Rav      Ahuja  MOOSETOWN    CA
1   2  Raul      Chong    Markham    CA
2   3  Hima  Vasuderan    Chicago    US

In [13]:
# Print the shape of the dataframe
df.shape

(3, 5)

# **Task6: Close the connection**

In [14]:
# Save the DB changes
conn.commit()

# Close the connection
conn.close()